@(list:Seq[Jogo])
 
@main("Lista Jogos") {
<body>
<div id="fundo">
    <h1>JOGOZAO Top</h1>
    <table>
        <tr>
            <td>ID</td>
           <td>NOME</td>
           <td>GENERO</td>
           <td>ESTUDIO</td>
           <td>QUALIDADE</td>
           <td>LOJA</td>
        </tr> 
    @for(t <- list) {
        <tr>
        <td>@t.id</td>
           <td>@t.nome</td>
           <td>@t.genero</td>
           <td>@t.estudio</td>
           <td>@t.qualidade</td>
           <td>@t.loja</td>
            <td> <a href=@(routes.JogoController.formup)> Alterar <a> </td>
            <td> <a href=@(routes.JogoController.fordel)> Apagar <a> </td>
        </tr> 
    }
    </table>
    
    <a href=@(routes.JogoController.formjogo)>Cadastrar</a>
    
</div>
</body>
}